{% extends "yay2/base.html" %}

{% block header %}
        <div id="globalstatus">
            <div class="clock" id="studiotime">
                <div class="time"></div>
                <div class="timezone"></div>
                <div class="date"></div>
                <div class="label">Studio</div>
            </div>
            <div class="timer" id="lastupdated">
                <div class="value"></div>
            </div>
            <div class="clock" id="localtime">
                <div class="time"></div>
                <div class="timezone"></div>
                <div class="date"></div>
                <div class="label">Local</div>
            </div>
        </div>
        <div id="mainmenu">
            <a href="{% url 'sources' %}">sources</a>
            <a href="{% url 'sinks' %}">sinks</a>
            <a href="{% url 'processes' %}">processes</a>
            <a href="{% url 'logfiles' %}">logfiles</a>
        </div>
{% endblock %}
