{% extends "yay2/skel.html" %}

{% block title %}Studio Dashboard{% endblock %}

{% block content %}
<div id="Processes" class="overview">
    <h3>Processes</h3>
    <table>
        <tr>
            <th>action</th>
            <th>state</th>
            <th>name</th>
            <th>pid</th>
            <th>started at</th>
            <th>stopped at</th>
            <th>logfile</th>
        </tr>
    {% for process in processes|dictsortreversed:"name" %}
        <tr>
            <td>
                <a href="{% url 'terminate' process.id %}">{% if process.running %}&#9726;{% else %}&#9725;{% endif %}</a>
                <a href="{% url 'start' process.id %}">{% if process.running %}&#9655;{% else %}&#9654;{% endif %}</a>
            </td>
            <td><a href="{% url 'logfile' process.logfile.id %}">{% if process.running %}{% if process.terminate %}terminating{% else %}running{% endif %}{% else %}terminated{% endif %}</a></td>
            <td><a href="{% url 'logfile' process.logfile.id %}">{{ process.name }}</a></td>
            <td><a href="{% url 'logfile' process.logfile.id %}">{{ process.pid }}</a></td>
            <td><a href="{% url 'logfile' process.logfile.id %}">{{ process.started_at }}</a></td>
            <td><a href="{% url 'logfile' process.logfile.id %}">{{ process.stopped_at }}</a></td>
            <td><a href="{% url 'logfile' process.logfile.id %}">logfile</a></td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
