{% extends "yay2/skel.html" %}

{% block title %}Sinks{% endblock %}

{% block content %}
<div id="sinks" class="overview">
    <h3>Sinks</h3>
    <table>
        <tr>
            <th>name</th>
            <th>type</th>
            <th>details</th>
        </tr>
    {% for sink in sinks|dictsortreversed:"name" %}
        <tr>
            <td><a href="{{ sink.detail_url }}">{{ sink.name }}</td>
            <td><a href="{{ sink.detail_url }}">{{ sink.type }}</td>
            <td><a href="{{ sink.detail_url }}">{{ sink.details }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
