{% extends "yay2/skel.html" %}

{% block title %}Studio Dashboard{% endblock %}

{% block content %}
<div id="sources" class="overview">
    <h3>Sources</h3>
    <a href="{% url 'source_alsa' -1 %}">create alsa source</a>
    <table>
        <tr>
            <th>name</th>
            <th>type</th>
            <th>details</th>
        </tr>
    {% for source in sources|dictsortreversed:"name" %}
        <tr>
            <td><a href="{{ source.detail_url }}">{{ source.name }}</td>
            <td><a href="{{ source.detail_url }}">{{ source.type }}</td>
            <td><a href="{{ source.detail_url }}">{{ source.details }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
