{% extends "yay2/skel.html" %}

{% block title %}Studio Dashboard{% endblock %}

{% block content %}
<div id="sources" class="overview">
    <h3>Sources</h3>
    <table>
        <tr>
            <th>name</th>
            <th>type</th>
            <th>details</th>
        </tr>
    {% for source in sources|dictsortreversed:"name" %}
        <tr>
            <td><a href="">{{ source.name }}</td>
            <td><a href="">{{ source.type }}</td>
            <td><a href="">{{ source.details }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
